# Google OAuth
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

# Facebook OAuth
Authentication__Facebook__AppId=
Authentication__Facebook__AppSecret=

# Database
ConnectionStrings__OmegleCloneMVCContext=Server=(localdb)\mssqllocaldb;Database=OmegleCloneDb;Trusted_Connection=True;MultipleActiveResultSets=true

# Stripe
Stripe__SecretKey=
Stripe__PublishableKey=
Stripe__PriceId=
Stripe__WebhookSecret=

# JWT
Jwt__Key=
